
.table {
    width: 100%;
    border-collapse: collapse;
    color:rgb(145, 145, 145);
    font-weight:normal;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  td{
    border:1px solid #f2f2f2;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .hire-date-cell {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5px 2px;
    width: fit-content;
    background-color: #f2f2f2;
  }

  .status-cell {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5px 2px;
    width: fit-content;
  }